@{
    ViewData["Title"] = "Food";
}

@using CoffeeShop.Domain.Entities
@model List<FoodEntity>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">Food List</h3>
    <table class="table border-dark table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Created By User Id</th>
                <th scope="col">Created Date</th>
                <th scope="col">Upated Date</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var index = 1;
            }
            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@(index++)</th>
                <td>@item.Name</td>
                <td>@item.Amount</td>
                <td>@item.Price</td>
                <td><a asp-action="Detail" asp-controller="Staff">@item.StaffEntity.UserName</a></td>
                <td>@item.CreatedDate</td>
                <td>@item.LastUpdatedDate</td>
               
            </tr>
            }
        </tbody>
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

